@page
@model TableTennisRazer.Pages.People.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Person[0].PersonName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Person[0].Mean)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Person[0].StandardDeviation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Person) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.PersonName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Mean)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StandardDeviation)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.PersonName">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.PersonName">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.PersonName">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
