@page
@model TableTennisRazer.Pages.TwoPersonMatches.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>TwoPersonMatch</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TwoPersonMatch.WinningScore)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TwoPersonMatch.WinningScore)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TwoPersonMatch.LosingScore)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TwoPersonMatch.LosingScore)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TwoPersonMatch.WinningPersonOne)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TwoPersonMatch.WinningPersonOne)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TwoPersonMatch.LosingPersonOne)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TwoPersonMatch.LosingPersonOne)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="TwoPersonMatch.MatchID" />
        <input type="submit" value="Delete" class="btn btn-default" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
