@page
@model TableTennisRazer.Pages.TwoPersonMatches.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>TwoPersonMatch</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TwoPersonMatch.WinningScore)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TwoPersonMatch.WinningScore)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TwoPersonMatch.LosingScore)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TwoPersonMatch.LosingScore)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TwoPersonMatch.WinningPersonOne)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TwoPersonMatch.WinningPersonOne)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TwoPersonMatch.LosingPersonOne)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TwoPersonMatch.LosingPersonOne)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.TwoPersonMatch.MatchID">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
