@page
@model TableTennisRazer.Pages.TwoPersonMatches.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TwoPersonMatch[0].WinningScore)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TwoPersonMatch[0].LosingScore)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TwoPersonMatch[0].WinningPersonOne)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TwoPersonMatch[0].LosingPersonOne)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.TwoPersonMatch) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.WinningScore)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LosingScore)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WinningPersonOne)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LosingPersonOne)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.MatchID">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.MatchID">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.MatchID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
