@page
@model TableTennisRazer.Pages.Matches.ResultModel

@{
    ViewData["Title"] = "Result";
}

<h2>Result</h2>


<h4>Match</h4>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.MatchPeople[0].PersonName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MatchPeople[0].MatchResult)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MatchPeople[0].RatingChange)
            </th>
            <th>
                @Html.DisplayName("New Rating")
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.MatchPeople)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.PersonName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Result)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.RatingChange)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Person.Rating.ConservativeRating)
                </td>
            </tr>
        }
    </tbody>
</table>
@Html.Display("Current game count is: " + Model.WinCount + " - " + Model.LossCount)
<h4> Previous Games</h4>
<table class="table">
    <thread>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.GameList[0].WinningTeam)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GameList[0].Score)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GameList[0].Time)
            </th>
        </tr>
    </thread>
    <tbody>
        @foreach (var item in Model.GameList.OrderByDescending(x=>x.Time))
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.WinningTeam)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Score)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Time)
                </td>
            </tr>
        }
    </tbody>
</table>