@page
@model TableTennisRazer.Pages.Leaderboard.IndexModel

@{
    ViewData["Title"] = "Leaderboard";
}

<h2>Leaderboard</h2>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.PersonRankings[0].Rank)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PersonRankings[0].Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PersonRankings[0].ConservativeRating)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PersonRankings[0].WinPercentage)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PersonRankings[0].GamesPlayed)
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.PersonRankings) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Rank)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ConservativeRating)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WinPercentage)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GamesPlayed)
            </td>
        </tr>
}
    </tbody>
</table>
